.card {
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid rgb(224, 218, 218);
  border-radius: 15px;
  width: 250px;
  height: 250px;
  padding:10px;
  display: inline-flex;
  margin: 1rem 2rem;
  box-shadow: 0 10px 85px 0 rgba(0, 0, 0, 0.2),
      0 16px 40px 0 rgba(58, 166, 255, 0.19);
}

#image{
  justify-content: center;
  height: 100%;
  width: 100%;
}  
h4{
  justify-content: center;
}
span{
  font-weight: bold;
}